*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(rgb(204, 204, 222),rgb(203, 84, 48));
    display: flex;
    justify-content: center;
    align-items: center;
}
.counter{
    height: 400px;
    width: 400px;
    background-color: rgb(157, 143, 143);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center ;
    border-radius: 15px;
}
h2{
    font-size: 34px;
    color: rgb(9, 9, 8);
}
.zero p{
    font-size: 54px;
}
.op button{
    font-size: 28px;
    margin: 0px 10px;
    padding:5px 18px;
    border:solid rgb(255, 102, 0) 5px;
    border-radius: 10px;
    background-color:rgb(10, 10, 14) ;
    color: aliceblue;
    animation-name: example;
    animation-duration: 10s;
}
h2:hover{
    color: rgb(255, 102, 0);
    transition: 2s;
}
@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}
